* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 15px 40px rgba(186, 185, 185, 0.1);
  z-index: 1000;
}

.imagelogo {
  margin: 10px;
  height: 70px;
  padding: 10px;
}

.search-box {
  display: flex;
  height: 50px;
  min-width: 400px;
  background-color: #eee;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  margin-right: 25px;
  border: 2px solid #c3c2c2;
  border-radius: 5px;
  cursor: text;
}

.search-bar {
  font-size: 16px;
  background-color: #eee;
  width: 500px;
  height: 40px;
  font-weight: 700;
  border: none;
  outline: none;
}

.search-icon {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.main-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.main-container-upper {
  border: 5px solid ;
  font-size: 1.4rem;
  color: #777;
  font-weight: 700;
  padding: 20px 0px;
}

.main-container-grid {
  border: 2px solid rgb(91, 150, 91);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  flex: 1;
    
}

.main-menu-cards {
  border: 1px solid;
  height: 300px;
  max-width: 250px;
}

.item-image-container {
  text-align: center;
  margin: 5px;
  height: 75%;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.item-name {
  position: relative;
  left: 10px;
}

.item-highlights{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.item-rating{
    display: flex;
}
